html {
    box-sizing: border-box;
    font-size: 14px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

img {
    max-width: 100%;
    height: auto;
}

/* tr:nth-child(even){background-color: #4b4b4b;} */
tr:nth-child(even) td:nth-child(-n+2){background-color: #4b4b4b;} 
tr:hover {background-color: rgb(95, 97, 100);}

/* th, td {
    border-bottom: 1px solid rgb(107, 105, 105);
  } */

.transunit-notes {
    /* display: none; */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

textarea {
    width: 600px;
    height: 100px;
}

table {
    width: 100%;
    table-layout: fixed;
}
table td {
    vertical-align: top;
}