# User specific files
#.vscode/launch.json # We need the launch json for CliSettingsLoader.test.
.vscode/rad.json
permissionsAnalyzer.json

# AL Object Designer Extension
.alcache/*
.altemplates/*


# Binary app files
/*.app
# .alpackages/*.app # We need the symbols for automatic tests in pipelines


