html {
    box-sizing: border-box;
    font-size: 14px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

img {
    max-width: 100%;
    height: auto;
}

tr:nth-child(even) td:nth-child(-n+2){background-color: #4b4b4b;} 
tr:hover {background-color: rgb(95, 97, 100);}

.transunit-notes {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

textarea {
    width: 100%;
    top: 0; left: 0; right: 0; bottom: 0;
    position: absolute; 
    resize: none;
}

table {
    width: 100%;
     border-collapse: collapse;
    /* table-layout: fixed; */
}
table, th, td {
    position: relative;
}
th.complete {
    width: 2%;
}
th.notes {
    width: 30%;
}
th.source {
    width: 30%;
}
th.target {
    width: 40%;
}
table td {
    vertical-align: top;
}
div.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}
input[type=checkbox] {
    width: 25px;
    height: 25px;
    margin-top: 10px;
}
input[type=checkbox]:focus {
    outline:4px solid;
}
