# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        # node-version: [12.x, 14.x]
        node-version: [14.x]
    runs-on: ${{ matrix.os }}
    env:
      working-directory: ./extension/
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
        working-directory: ${{env.working-directory}}
      - name: Run tests
        uses: GabrielBB/xvfb-action@v1
        with:
          run: npm test
          working-directory: ${{env.working-directory}}
      - name: Check Circular Dependencies
        run: node ${{env.working-directory}}node_modules/madge/bin/cli.js --warning --circular --extensions ts ${{env.working-directory}}src/extension.ts