name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest]
        node-version: [22.x, 23.x]
    runs-on: ${{ matrix.os }}
    env:
      working-directory: ./extension/
      NAB_DISABLE_TELEMETRY: true
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
        working-directory: ${{env.working-directory}}
      - name: Run tests
        uses: GabrielBB/xvfb-action@v1
        with:
          run: npm run test
          working-directory: ${{env.working-directory}}
      - name: Test CLI functions
        shell: pwsh
        run: |
          & "./.github/workflows/scripts/cli-create-documentation-test.ps1"
          & "./.github/workflows/scripts/vscode-dependency-test.ps1"
